@using Action = Antlr.Runtime.Misc.Action
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">

                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <img class="img-circle m-t-xs img-responsive" ng-src="/api/Clubs/logo" />
                            </span>
                        </span>
                    </a>

                </div>
                <div class="logo-element">
                    <img class="img-circle m-t-xs img-responsive" ng-src="/api/Clubs/logo"/>
                </div>
            </li>

            <li class="@Html.IsSelected(controller: "Home", action: "Dashboard")">
                <a href="@Url.Action("Dashboard", "Home", new {area = "Player"})"><i class="fa fa-home"></i> <span class="nav-label">Dashboard</span></a>
            </li>

            <li class="@Html.IsSelected(controller: "Home", action: "ClubDiary")">
                <a href="@Url.Action("ClubDiary", "Home", new {area = "Player"})"><i class="fa fa-calendar"></i> <span class="nav-label">Diary</span></a>
            </li>

            <li class="@Html.IsSelected(controller: "Home", action: "Communications")">
                <a href="@Url.Action("Communications", "Home", new {area = "Player"})"><i class="fa fa-comments"></i> <span class="nav-label">Communications</span></a>
            </li>

            <li class="@Html.IsSelected(controller: "Home", action: "Documents")">
                <a href="@Url.Action("Documents", "Home", new {area = "Player"})"><i class="fa fa-file-text-o"></i> <span class="nav-label">Documents</span></a>
            </li>

          
            <li class="@Html.IsSelectedMultyActions(controller: "Home", action: new string[] {"Health & Fitness", "Nutrition", "Fitness", "Tracker", "Wellbeing"})">
                <a href="@Url.Action("HealthAndFitness", "Home", new {area = "Player"})"><i class="fa fa-heart-o"></i> <span class="nav-label">Health & Fitness</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(action: "Nutrition")"><a href="@Url.Action("Nutrition", "Home", new {area = "Player"})">Nutrition</a></li>
                    <li class="@Html.IsSelected(action: "Fitness")"><a href="@Url.Action("Fitness", "Home", new {area = "Player"})">Fitness</a></li>
                    <li class="@Html.IsSelected(action: "Tracker")"><a href="@Url.Action("Tracker", "Home", new {area = "Player"})">Tracker</a></li>
                    <li class="@Html.IsSelected(action: "Wellbeing")"><a href="@Url.Action("Wellbeing", "Home", new {area = "Player"})">Wellbeing</a></li>

                </ul>
            </li>


            <li class="@Html.IsSelected(controller: "Home", action: "Injuries")">
                <a href="@Url.Action("Injuries", "Home", new { area = "Player" })"><i class="fa fa-medkit"></i> <span class="nav-label">Injuries</span></a>
            </li>

            <li class="@Html.IsSelected(controller: "Home", action: "MatchReports")">
                <a href="@Url.Action("MatchReports", "Home", new { area = "Player" })"><i class="fa fa-futbol-o"></i> <span class="nav-label">Match Reports</span></a>
            </li>

            <li class="@Html.IsSelected(controller: "Home", action: "Objectives")">
                <a href="@Url.Action("Objectives", "Home", new {area = "Player"})"><i class="fa fa-edit"></i> <span class="nav-label">Objectives</span></a>
            </li>

            <li class="@Html.IsSelected(controller: "Home", action: "Profile")">
                <a href="@Url.Action("Profile", "Home", new {area = "Player"})"><i class="fa fa-cogs"></i> <span class="nav-label">Profile</span></a>
            </li>

            <li class="@Html.IsSelected(controller: "Home", action: "ReviewReports")">
                <a href="@Url.Action("ReviewReports", "Home", new { area = "Player" })"><i class="fa fa-dashboard"></i> <span class="nav-label">Review Reports</span></a>

            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "SkillAndKnowledge")">
                <a href="@Url.Action("SkillAndKnowledge", "Home", new {area = "Player"})"><i class="fa fa-futbol-o"></i> <span class="nav-label">Skill & Knowledge</span></a>
            </li>


            <li class="@Html.IsSelectedMultyActions(controller: "Home", action: new string[] {"SportsScience", "Exercise", "Testing"})">
                <a href="@Url.Action("SportsScience", "Home", new {area = "Player"})"><i class="fa fa-flask"></i> <span class="nav-label">Sports Science</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(action: "Exercise")"><a href="@Url.Action("Exercise", "Home", new {area = "Player"})">Exercise</a></li>
                    <li class="@Html.IsSelected(action: "Testing")"><a href="@Url.Action("Testing", "Home", new {area = "Player"})">Testing</a></li>
                </ul>
            </li>
           
            <li class="@Html.IsSelected(controller: "Home", action: "Training")">
                <a href="@Url.Action("Training", "Home", new { area = "Player" })"><i class="fa fa-users"></i> <span class="nav-label">Training</span></a>
            </li>


        </ul>
    </div>
</nav>