<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                   
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <h1><strong class="font-bold">PMA<sup>+</sup></strong></h1>
                            </span> 
                        </span>
                    </a>
                    
                </div>
                <div class="logo-element">
                    <strong>PMA<sup>+</sup></strong>
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Home")">
                <a href="@Url.Action("Dashbord","Home",new{area="SysAdmin"})"><i class="fa fa-home"></i> <span class="nav-label">Dashboard</span></a>
                
            </li>
            <li class="@Html.IsSelected(controller: "Layouts")">
                <a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })"><i class="fa fa-university"></i> <span class="nav-label">Clubs</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Graphs")">
                <a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })"><i class="fa fa-users"></i> <span class="nav-label">Clients</span></a>
                
            </li>
            <li class="@Html.IsSelected(controller: "Mailbox")">
                <a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })"><i class="fa fa-graduation-cap"></i> <span class="nav-label">Curriculums</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(action: "Inbox")"><a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })">Curriculum Type</a></li>
                    </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Widgets")">
                <a href="@Url.Action("FaCourses", "Home", new { area = "SysAdmin" })"><i class="fa fa-plus-square"></i> <span class="nav-label">FA Courses</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "Forms")">
                <a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })"><i class="fa fa-cutlery"></i> <span class="nav-label">Nutrition</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(action: "BasicFroms")"><a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })">Alternatives</a></li>
                    <li class="@Html.IsSelected(action: "Advanced")"><a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })">Food Types</a></li>
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })">Recipes</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "AppViews")">
                <a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })"><i class="fa fa-medkit"></i> <span class="nav-label">Physiotherapy</span>  <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(action: "Contacts")"><a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })">Body Parts</a></li>
                    <li class="@Html.IsSelected(action: "Profile")"><a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })">Exercises</a></li>
                   
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Pages")">
                <a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })"><i class="fa fa-futbol-o"></i> <span class="nav-label">Scenarios</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Miscellaneous")">
                <a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })"><i class="fa fa-gears"></i> <span class="nav-label">Site Settings</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(action: "Notification")"><a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })">Charges</a></li>
                    <li class="@Html.IsSelected(action: "NestableList")"><a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })">Targets</a></li>
                    <li class="@Html.IsSelected(action: "Timeline_second_version")"><a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })">Login</a></li>
                    
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "UIElements")">
                <a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })"><i class="fa fa-film"></i> <span class="nav-label">Skills & Knowledge</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Tables")">
                <a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })"><i class="fa fa-flask"></i> <span class="nav-label">Sports Science</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(action: "StaticTables")"><a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })">Exercises</a></li>
                    <li class="@Html.IsSelected(action: "DataTables")"><a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })">Tests</a></li>
                    
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Gallery")">
                <a href="@Url.Action("Index", "Home", new { area = "SysAdmin" })"><i class="fa fa-bar-chart"></i> <span class="nav-label">Reports</span></a>
            </li>
            
        </ul>
    </div>
</nav>