@using System.Collections.Concurrent
@using System.Web.UI.WebControls
@using PmaPlus.Models
@model EmailFormModel

@{
    ViewBag.Title = "PMA+";
}


@using (Html.BeginForm("Contact", "Account", null, FormMethod.Post, new {enctype = "multipart/form-data"})) //send data to controller (Method name, Controller name)
{
    @Html.AntiForgeryToken()
    <h4>Contact Us</h4>
    <fieldset>
        <div class="form-group col-md-12">
            <div class="editor-label">
                @Html.LabelFor(m => m.FromName, new { @class = "col-md-4"  })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FromName, new { @class = "form-control", placeholder = "Name" })
                    @Html.ValidationMessageFor(m => m.FromName)
                </div>
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.FromEmail, new { @class = "col-md-4" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.FromEmail)
                </div>
            </div>
            <div class="editor-field">
                @Html.LabelFor(m => m.Message, new { @class = "col-md-4" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = "Write you maessage" })
                    @Html.ValidationMessageFor(m => m.Message)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Send" />
                </div>
            </div>
        </div>
</fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
