@using System.Collections.Concurrent
@using System.Web.UI.WebControls
@using PmaPlus.Models
@using System.Net.Mail
@model ContactModels

@{
    ViewBag.Title = "PMA+";
}


<h3>Contact Us</h3>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <div class="row">
        @Html.LabelFor(model => model.FirstName, "First Name")
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
        
    </div>
    <div class="row">
        @Html.LabelFor(model => model.LastName, "Last Name:")
        @Html.EditorFor(model => model.LastName)
    </div>
    <div class="row">
        @Html.LabelFor(model => model.Email, "Email:")
        @Html.EditorFor(model => model.Email)
    </div>
    <div class="row">
        @Html.LabelFor(model => model.Comment, "Comments:")
        @Html.TextAreaFor(model => model.Comment)
    </div>
    <div class="row">
        <input type="submit" value="submit" />
        <input type="reset" value="reset" />
    </div>


}
<style>
    input, textarea {
        border: 1px solid #e2e2e2;
        background: #fff;
        color: #333;
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 5px;
        width: 300px;
    }
        input[type="submit"],
        input[type="button"],
        button {
            background-color: #d3dce0;
            border: 1px solid #787878;
            cursor: pointer;
            font-size: 1.2em;
            font-weight: 600;
            padding: 7px;
            margin-right: 8px;
            width: auto;
        }
    div.row {
        clear: left;
        margin: 6px;
    }

    label {
        float: left;
        width: 200px;
    }

    textarea {
        width: 200px;
        height: 100px;
    }

    div.buttons {
        margin-left: 150px;
        margin-top: 16px;
    } 
</style>