@using System.Collections.Concurrent
@using System.Web.UI.WebControls
@using PmaPlus.Models
@model ContactViewModel

@{
    ViewBag.Title = "PMA+";
}


@using (Html.BeginForm("ContactUs", "Account")) //send data to controller (Method name, Controller name)
{
    <fieldset style="margin-left: -130px;">        
        <p>First Name:</p>
        <p>@Html.TextBoxFor(m => m.firstName)</p>
        <p>Last Name:</p>
        <p>@Html.TextBoxFor(m => m.lastName)</p>
        <p>Phone Number:</p>
        <p>@Html.TextBoxFor(m => m.phone)</p>
        <p>Email:</p>
        <p>@Html.TextBoxFor(m => m.email)</p>               
        <p>Message:</p>
        <p>@Html.TextAreaFor(m => m.message, new { @cols = 80, @rows = 10 })</p>
        <input type="submit" value="Submit" />
       

        <input type="submit" value="Send" />
    </fieldset>
}


