@using System.Collections.Concurrent
@using System.Web.UI.WebControls
@using PmaPlus.Models
@using System.Net.Mail
@model ContactModels

@{
    ViewBag.Title = "PMA+";
}


<h2 class="header" style="color: #428bca">Contact Us</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <div class="row">       
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @placeholder = "What's your mom call you?" } })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>   
    <div class="row">       
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Where can email you back?", type = "email" } })
    </div>
    <div class="row">       
        @Html.EditorFor(model => model.ConfirmEmail, new { htmlAttributes = new { @placeholder = "Confirm you email", type="email" } })
        @Html.ValidationMessageFor(model => model.ConfirmEmail)
    </div>
    <div class="row">       
        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @placeholder = "Enter you phone number" } })
    </div>
    <div class="row">
        @Html.TextAreaFor(model => model.Details, new{@placeholder = "  What's on your mind?"})
    </div>
    <div class="row">
        <input class="btn btn-primary" type="submit" value="Send" />
        <input class="btn btn-primary btn-xs" type="reset" value="reset" />
    </div>


}
<style>
    input, textarea {
        border: 1px solid #e2e2e2;
        background: #fff;
        color: #333;
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 5px;
        width: 100px;
    }
        input[type="submit"],
        input[type="button"],
        button {
            background-color: #d3dce0;
            border: 1px solid #787878;
            cursor: pointer;
            font-size: 1.2em;
            font-weight: 600;
            padding: 7px;
            margin-right: 8px;
            width: auto;
        }
    div.row {
        clear: left;
        margin: 6px;
    }

    label {
        float: left;
        width: 200px;
    }

    textarea {
        width: 315px;
        height: 100px;
    }

    div.buttons {
        margin-left: 150px;
        margin-top: 16px;
    } 
</style>