@using System.Collections.Concurrent
@using System.Web.UI.WebControls
@using PmaPlus.Models
@model LoginViewModel
@{
    ViewBag.Title = "PMA+";
}
<style>
    .input-validation-error
{
     border: 1px solid red !important;
}
    

</style>
<h3>Welcome to PMA+</h3>
<p>
    Login to the professional player management application with analytics, sports science, injury management, curriculum progression, scouting, training scenarios and 3D session planner.
</p>
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "m-t", role = "form" }))
{
    @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
            @Html.ValidationMessageFor(model => model.Email, "")

        </div>
        <div class="form-group">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
            @Html.ValidationMessageFor(model => model.Password)

        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">Login</button>


        <a href="@Url.Action("ForgotPassword","Account")"><small>Forgot password?</small></a>
        <p class="text-muted text-center"><small>Do not have an account?</small></p>
    <a href="@Url.Action("ContactUs","Account")" class="btn btn-sm btn-white btn-block" href="#">Contact Us</a>
}  
    @if (!ViewData.ModelState.IsValid)
         {
             <script>
                 $(document).ready(function () {

                     toastr.options = {
                         closeButton: true,
                         debug: false,
                         progressBar: false,
                         positionClass: "toast-top-full-width",
                         onclick: null,
                         showDuration: 400,
                         hideDuration: 1000,
                         timeOut: 7000,
                         extendedTimeOut: 1000,
                         showEasing: "swing",
                         hideEasing: "linear",
                         showMethod: "fadeIn",
                         hideMethod: "fadeOut"
                     }
                     toastr.error('@ViewData.ModelState["loginValid"].Errors.FirstOrDefault().ErrorMessage', 'Unsuccessful');
                     
                 });
            </script> 
         }


<script>
    $(document).ready(function() {

        toastr.options = {
            closeButton: true,
            debug: false,
            progressBar: false,
            positionClass: "toast-top-full-width",
            onclick: null,
            showDuration: 400,
            hideDuration: 1000,
            timeOut: 7000,
            extendedTimeOut: 1000,
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut"
        }
        if( '@TempData["toastrCall"]' ) {
            toastr.success('Your password has been sent to your email address', 'Success');
        }
    });
</script>



