@using Action = Antlr.Runtime.Misc.Action
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">

                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <img class="img-circle m-t-xs img-responsive" ng-src="/api/Clubs/logo" />
                            </span>
                        </span>
                    </a>

                </div>
                <div class="logo-element">
                    <img class="img-circle m-t-xs img-responsive" ng-src="/api/Clubs/logo" />
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "Dashboard")">
                <a href="@Url.Action("Dashboard", "Home", new {area = "Scouts"})"><i class="fa fa-home"></i> <span class="nav-label">Dashboard</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "Diary")">
                <a href="@Url.Action("Diary", "Home", new { area = "Scouts" })"><i class="fa fa-calendar"></i> <span class="nav-label">Diary</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "Documents")">
                <a href="@Url.Action("Documents", "Home", new { area = "Scouts" })"><i class="fa fa-file-text-o"></i> <span class="nav-label">Documents</span></a>
            </li>
            <li class="@Html.IsSelectedMultyActions(controller: "Home", action: new string[] {"HealthFitness", "Nutrition", "Fitness", "Tracker", "Wellbeing" })">
                <a href="@Url.Action("HealthFitness", "Home", new { area = "Scouts" })"><i class="fa fa-heart-o"></i> <span class="nav-label">Health & Fitness</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(action: "Nutrition")"><a href="@Url.Action("Nutrition", "Home", new { area = "Scouts" })">Nutrition</a></li>
                    <li class="@Html.IsSelected(action: "Fitness")"><a href="@Url.Action("Fitness", "Home", new { area = "Scouts" })">Fitness</a></li>
                    <li class="@Html.IsSelected(action: "Tracker")"><a href="@Url.Action("Tracker", "Home", new { area = "Scouts" })">Tracker</a></li>
                    <li class="@Html.IsSelected(action: "Wellbeing")"><a href="@Url.Action("Wellbeing", "Home", new { area = "Scouts" })">Wellbeing</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "Profile")">
                <a href="@Url.Action("Profile", "Home", new {area = "Scouts"})"><i class="fa fa-cogs"></i> <span class="nav-label">Profile</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "Reports")">
                <a href="@Url.Action("Reports", "Home", new { area = "Scouts" })"><i class="fa fa-futbol-o"></i> <span class="nav-label">Reports</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "ToDoList")">
                <a href="@Url.Action("ToDoList", "Home", new { area = "Scouts" })"><i class="fa fa-list-ul"></i> <span class="nav-label">To Do List</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "TrainingTeam")">
                <a href="@Url.Action("TrainingTeam", "Home", new { area = "Scouts" })"><i class="fa fa-users"></i> <span class="nav-label">Training Team</span></a>
            </li> 
        </ul>
    </div>
</nav>