<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0; @Html.IsSelected(controller: "Home", action: "Dashboard")background: #f4f6fa;">
        <div class="navbar-header">
            <a ng-click="navExpand()" id="mini" class="minimalize-styl-2 btn btn-primary " style="margin-left: 15px;" href="#"><i class="fa fa-bars"></i> </a>
            <span style="float: right; margin-top: 20px;" class="m-r-sm text-muted welcome-message">Good @PmaPlus.Tools.TimeUtils.GetGreetingTime() <b>Club Administrator</b></span>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">Welcome to PMA+</span>
            </li>
            <li class="dropdown" ng-controller="DairyNotifyController" ng-cloak>
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-calendar"></i>
                    <span  ng-if="itemCount > 0" class="label label-danger" style="border: 1px solid white;border-radius: 100%;background-color: #CC0000;">{{itemCount}}</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li ng-repeat="item in items">
                        <div class="ibox-content inspinia-timeline" style="border: none; padding: 10px 10px 0px 0px;" ng-model="cols" ng-change="colsChanged()">
                            <div class="timeline-item">
                                <div class="row">
                                    <div class="col-xs-2 date" style="padding-left:5px; width:90px">

                                        <i class="fa fa-calendar"></i>
                                        {{item.start | date:'HH:mm'}}

                                    </div>
                                    <div class="col-xs-7 content no-top-border" style="width: 69%">
                                        <p class="m-b-xs">
                                            <strong>{{item.title}}</strong>
                                        </p>
                                        <div class="col">
                                            <p>
                                                {{item.note}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="divider" style="margin-top:0px"></div>
                    </li> 
                    <li>
                        <div class="see-all"><a href="@Url.Action("ClubDiary", "Home", new { area="ClubAdmin" })">See all Diary Events ></a></div>
                    </li>                    
                </ul>
                
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
            <li class="dropdown" ng-controller="ToDoNotifyController" ng-cloak>
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>
                    <span ng-if="itemCount > 0" class="label label-danger" style="border: 1px solid white;border-radius: 100%;background-color: #CC0000;">{{itemCount}}</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li ng-repeat="item in items">
                        <a>
                            <div>
                                <i class="fa fa-bell"></i> {{item.completionDateTime | date : 'dd-MM-yyyy HH:mm'}}
                            </div>
                            <div>
                                <strong>{{item.title}}</strong>
                                <br />
                                {{item.note}}
                            </div>
                        </a>
                        <div class="divider"></div>

                    </li>
                    <li>
                        <div class="see-all"><a href="@Url.Action("ToDoList", "Home", new { area="ClubAdmin" })">See all To-do Items ></a></div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("LockScreen", "Account", new {area = ""})"><i class="fa fa-power-off"></i></a>
            </li>
            <li>
                <a href="@Url.Action("LogOff", "Account", new {area = ""})">
                    Logout
                </a>
            </li>
        </ul>
    </nav>
</div>

<style>
    .col {
        word-wrap: break-word; /* Перенос слов */
    }
     .see-all{
         display: block;
         text-align: center;
         margin-left: 25px;
     }

    .see-all a{
        color: #676a6c;   
        font-size: 13px !important;
        font-weight: 700 !important;   
    }

    .see-all a:hover{
        background:#ffffff !important;
    }
    .nav.navbar-top-links .dropdown-alerts a:hover{
        background-color: #f4f6fa;
        color: #333333;
    }
</style>