@{
    ViewBag.Title = "PMA+";
    Layout = "~/Areas/Coach/Views/Shared/_AdminLayout.cshtml";
}
<div ng-controller="WizzardController" ng-cloak>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-5">
            <h2>{{teamname}} - Curriculum Process</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Home", "Wizzard")">Home</a>
                </li>

                <li class="active">
                    <strong>Curriculum</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-7">
            <div class="title-action">
                <a class="btn btn-primary" ng-href="@Url.Action("Teams", "Home")">Back</a>
            </div>
        </div>

    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <wizard hide-indicators="true">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Progress Bars</h5>
                            <div class="ibox-tools" style="margin-top: -5px;">
                                <a class=" btn btn-primary btn-sm" ng-disabled="!nav.canBack" wz-previous ng-click="updateProgress()">Prev</a>
                                
                                <a ng-disabled="obj.laddaLoading" ng-click="saveProgress()" class="ladda-button btn btn-primary btn-sm" ladda-button="obj.laddaLoading" data-style="expand-right" data-size="sm" style="background-color:@ViewBag.them;">
                                    <span class="ladda-label">Save Progress</span>
                                </a>
                                <a class="btn btn-primary btn-sm" ng-disabled="!nav.canNext" wz-next ng-click="updateProgress()">Next</a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row" style="margin-bottom: -20px;">
                                <div class="col-sm-12"><progressbar ng-if="progress.max" class="progress-striped active" max="progress.max" value="progress.current" type="danger"></progressbar></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <wz-step ng-repeat="step in steps" canexit="canNext">

                <div ng-if="step.coachDetails">
                    @Html.Partial("~/Views/Partials/_WizardPartials/_JustSessionPartial.cshtml")
                </div>
                <div ng-if="step.attendance">
                    @Html.Partial("~/Views/Partials/_WizardPartials/_Attendance.cshtml")
                </div>
                <div ng-if="step.objectives">
                    @Html.Partial("~/Views/Partials/_WizardPartials/_AddObjectivePartial.cshtml")
                </div>
                <div ng-if="step.objectiveReport">
                    @Html.Partial("~/Views/Partials/_WizardPartials/_ObjectiveReportPartial.cshtml")
                </div>
                <div ng-if="step.rating">
                    @Html.Partial("~/Views/Partials/_WizardPartials/_RatingPartial.cshtml")
                </div>
                <div ng-if="step.startOfReviewPeriod && !step.coachDetails">
                    @Html.Partial("~/Views/Partials/_WizardPartials/_StartPeriodPartial.cshtml")
                </div>
                <div ng-if="step.endOfReviewPeriod">
                    @Html.Partial("~/Views/Partials/_WizardPartials/_ReportPeriodPartial.cshtml")
                </div>
            </wz-step>
        </wizard>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/controllers/WizzardsControllers.js"></script>
    <script src="~/Scripts/controllers/curriculumProcess/JustSessionController.js"></script>
    <script src="~/Scripts/controllers/curriculumProcess/CurrAdendanceController.js"></script>
    <script src="~/Scripts/controllers/curriculumProcess/CurrObjectiveController.js"></script>
    <script src="~/Scripts/controllers/curriculumProcess/CurrReportObjectiveController.js"></script>
    <script src="~/Scripts/controllers/curriculumProcess/CurrRatingController.js"></script>
    <script src="~/Scripts/controllers/curriculumProcess/CurrStartPeriodController.js"></script>
    <script src="~/Scripts/controllers/curriculumProcess/CurrReportPeriodController.js"></script>
}
